<div class="col-6" style="margin: auto;">
    <h2>Your Profile</h2>
    <ul class="list-group" style="margin-top: 10px">
    <li class="list-group-item"><strong>Username: </strong><%= @user.username %></li>
    <li class="list-group-item"><strong>Email: </strong><%= @user.email %></li>
    <li class="list-group-item"><strong>Bio: </strong><%= @user.bio %></li>
    </ul>
</div>