<%= stylesheet_link_tag("post") %>

<div style="margin: auto";>
  <p style="color: green"><%= notice %></p>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>