<%= stylesheet_link_tag("post")%>
<p style="color: green"><%= notice %></p>
  <div id="posts"></div>
  <%= turbo_frame_tag :pagination, loading: :lazy,
            src: posts_path(format: :turbo_stream) %>